{% extends 'base.html' %}

{% block subtitle %}
Crear venta
{% endblock %}

{% block content %}


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">¡Compra de stock a proveedores!</h5>
                    <p class="card-text">Actualmente solo podemos aceptar compras de stock a través del panel de
                        administración. Por favor, ponte en contacto con el administrador para realizar tu pedido.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}